<meta charset="utf-8">
{% load static %}
{% load price_filter %}
<header class="header_wrap fixed-top header_with_topbar active">
    <div class="bottom_header dark_skin main_menu_uppercase">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                
                <a 
                    routerlink="/" class="navbar-brand" ng-reflect-router-link="/" href="/">
                    <img src="{% static 'assets/images/Boissons/I-Cafet.png' %}" alt="Logo" width="100" height="50">
                </a>
                    
                <button type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-expanded="false"
                    class="navbar-toggler collapsed"><span 
                        class="ion-android-menu"></span></button>
                <div id="navbarSupportedContent"
                    class="navbar-collapse justify-content-end collapse" style="">
                    <ul class="navbar-nav">
                        <li class="dropdown"><a routerlink="/"
                                class="nav-link" ng-reflect-router-link="/" href="/">Home 🏠</a></li>
                        <!--<li class="dropdown"><a href="#"
                                data-bs-toggle="dropdown" class="dropdown-toggle nav-link active"
                                aria-expanded="false"></a>
                            <div class="dropdown-menu">
                                <ul >
                                    {% for page in request.session.head_pages %}
                                    <li >
                                        <a routerlink="/about"
                                            class="dropdown-item nav-link nav_item" ng-reflect-router-link="/about"
                                            href="{% url 'shop:page' page.slug %}">{{ page.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>-->
                        </li>
                        <li class="dropdown dropdown-mega-menu"><a
                                 href="#" data-bs-toggle="dropdown"
                                class="dropdown-toggle nav-link" aria-expanded="false">Produits</a>
                            <div class="dropdown-menu">
                                <ul class="mega-menu d-lg-flex">
                                    {% for category in request.session.mega_categories %}
                                        <li class="mega-menu-col col-lg-3">
                                            <ul >
                                                <li class="dropdown-header">{{ category.name }}</li>
                                                {% for product in category.products %}
                                                    <li class="d-flex align-items-center p-1">
                                                        <img src="{{product.image}}" height="30" width="30" alt="{{product.name}}"/>
                                                        <a 
                                                            class="dropdown-item nav-link nav_item p-2"
                                                            href="{% url 'shop:single_product' product.slug %}">{{ product.name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="d-lg-flex menu_banners row g-3 px-3">
                                    {% for collection in request.session.navcollections %}
                                        <div class="col-sm-4">
                                            <div class="header-banner"><img
                                                    alt="{{ collection.title }}"
                                                    src="{{ collection.imageUrl }}">
                                                <div class="banne_info">
                                                    <h6 >{{ collection.description }}</h6>
                                                    <h4 >{{ collection.title }}</h4><a
                                                        href="{{ collection.link }}">{{ collection.button_text }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        <li class="dropdown dropdown-mega-menu"> 
                            <a 
                                class="nav-link" href="{% url 'shop:shop_list' %}">Acheter</a>
                        </li>
                        
                    </ul>
                </div>
                <ul class="navbar-nav attr-nav align-items-center">
                    <li ><a href="javascript:void(0);"
                            class="nav-link search_trigger"><i 
                                class="linearicons-magnifier"></i></a>
                        <div class="search_wrap"><span 
                                class="close-search"><i 
                                    class="ion-ios-close-empty"></i></span>
                            <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                                <input type="text" placeholder="Search" id="search_input"
                                    class="form-control"><button type="submit"
                                    class="search_icon"><i 
                                        class="ion-ios-search-strong"></i></button></form>
                        </div>
                        <div class="search_overlay"></div>
                    </li>
                    <li class="dropdown cart_dropdown"><a 
                            href="#" data-bs-toggle="dropdown" class="nav-link cart_trigger"><i
                                 class="linearicons-cart"></i><span
                                 class="cart_count">{{ cart_data.cart_count }}</span></a>
                        <div class="cart_box dropdown-menu dropdown-menu-right">
                            <ul class="cart_list">
                                {% for item in cart_data.items %}
                                    <li >
                                    <a href="#"
                                        class="item_remove"><i class="ion-close"></i></a><a
                                         href="#"><img 
                                            width="50" height="50" alt="cart_thumb1"
                                            src="{{ item.product.image }}"
                                            />{{ item.product.name }}</a><span class="cart_quantity"> {{ item.quantity }} x
                                        <span class="cart_amount"><span
                                                
                                                class="price_symbole">{{ item.product.price | format_price }}</span></span></span>
                                    </li>
                                {% endfor %}
                                
                            </ul>
                            <div class="cart_footer">
                                <p class="cart_total"><strong
                                        >Total:</strong><span
                                         class="cart_price"><span
                                            
                                            class="price_symbole"></span></span>{{ cart_data.sub_total_ttc | format_price }}</p>
                                <p class="cart_buttons"><a 
                                        routerlink="/cart" class="btn btn-fill-line view-cart"
                                        ng-reflect-router-link="/cart" href="{% url 'shop:cart' %}">Panier</a>
                                        <a class="btn btn-fill-out checkout"
                                        href="{% url 'shop:checkout' %}">Paiement</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
